.git
.idea
.runtime
.DS_Store
derby.log
day1-monolith
docs
logs
**/logs
**/target
**/.mvn/wrapper/maven-wrapper.jar
frontend/node_modules
frontend/dist
final
.env
*.iml
*.png
*.jpg
*.jpeg
*.zip
*.tar
*.gz
